h1 {
  display: inline-block;
  text-align: center;
  font-style: italic;
  font-size: 3em;
  text-decoration: underline;
  width: 50%;
  border: 3px solid grey;
  color: #1077c8;
}
table {
  text-align: center;
}
th{
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border-style: groove;
}

.name {
  width: 150px;
  border: none;
  padding: 15px;
  text-align: center;
  background-color: inherit;
  font-size: 16px;
}

.details {
  width: 250px;
  border: none;
  padding: 15px;
  text-align: left;
  background-color: inherit;
  font-size: 16px;
}

.complete {
  background-color: #10c861;
  color: white;
}

.completedName {
  background-color: #10c861;
  color: white;
  width: 150px;
  border: none;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  text-decoration: solid grey line-through;
}

.completedDetail {
  background-color: #10c861;
  color: white;
  width: 250px;
  border: none;
  padding: 15px;
  text-align: left;
  font-size: 16px;
  text-decoration: solid grey line-through;
}

.notComplete:nth-child(even) {
  background-color: #f2f2f2
}

#todoName, #description {
  border: 3px solid grey;
  padding: 15px;
  text-align: left;
  background-color: inherit;
  font-size: 16px;
  margin: 10px;
}

#todoName {
  width:400px;
}

#description {
  width:400px;
}

#outPutTable {
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border: 3px solid #1077c8;
  padding: 10px;
}

/*.label {
  display: inline-block;
  width: 15%;
  border-style: ridge;
  border-width: medium;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding:0 30px;
  margin: 10px;
}*/

#top {
  margin: auto;
  width: 75%;
  border: 5px solid #1077c8;
  padding: 10px;
  text-align: center;
  /*background-color: rgba(16, 200, 189, 0.3);*/
}


button {
    background-color: inherit;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    box-shadow: 1px 1px 2px #ccc;
}

button:hover {
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ccc;
  -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
  color: grey;

}

.completeButton {
  color: white;
}

#register {
  border: 3px solid grey;
}

/*#container {
  background-color: #10C8BD;
  opacity: 50%;
}*/

.comp {
  display: none;
}
