<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="vendors/jquery-3.2.1.min.js"> charset="utf-8"</script>
    <script src="Untitled.js" charset="utf-8"></script>
    <title></title>
  </head>

  <body>
    <main>
      <h1>To Do List</h1>
        <form>
          <label> To Do Item </label> <input placeholder="Item Name" id="todoName"></input>
          <label>  Description </label> <input placeholder="description" id="description"></input>
          <button id="register" type='button'>Register</button>
        </form>
    </main>
    <div id='outPutDiv'>
      <table id='outPutTable'>
          <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>completed Y/N</th>
            <th>Remove</th>
          </tr>

      </table>
    </div>
  </body>
</html>
