<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="vendors/jquery-3.2.1.min.js"> charset="utf-8"</script>
    <script src="Untitled.js" charset="utf-8"></script>
    <title></title>
  </head>

  <body>
    <div id="top">
      <h1>To Do List</h1>
        <form>
          <!-- <label class="label"> Task List Item </label>--> <input placeholder="Item Name" id="todoName"></input>
        <br>
          <!-- <label class="label">  Description </label> --> <input placeholder="details" id="description"></input>
        <br>
          <button id="register" type='button'>Register</button>
        </form>
    </div>
    <div id='outPutDiv'>
      <table id='outPutTable'>
          <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>completed Y/N</th>
            <th>Remove</th>
          </tr>

      </table>
    </div>
  </body>
</html>
